<template lang="pug">
  v-container.bg(fluid :class="{'gradient-bg': $vuetify.breakpoint.smAndUp, 'svg-bg': $vuetify.breakpoint.xsOnly}")
    .white--text.font-weight-bold.mb-7(:class="{'display-2': $vuetify.breakpoint.smAndUp, 'headline': $vuetify.breakpoint.xsOnly}") 
      | My checklists

    div.realwhite--text(v-if="checklists && !checklists.length && !loading" style="max-width: 600px;")
      .font-weight-regular.mb-1(:class="{'display-1': $vuetify.breakpoint.smAndUp, 'title': $vuetify.breakpoint.xsOnly}") You have no active list.
      div(:class="{'headline font-weight-regular': $vuetify.breakpoint.smAndUp}") 
        | Lists will be generated automatically on the day of the occasion (January 1st for New year for example).    
      div.mt-5(:class="{'headline font-weight-regular': $vuetify.breakpoint.smAndUp}") 
        | Not sure how to use this app? 
        br
        router-link.blue--text.font-weight-medium(:to="{name: 'HowItWorks'}") Check out our guide
    
    v-card.mb-3(
      v-if="checklists && checklists.length" 
      v-for="(item,i) in checklists" 
      :key="i" 
      style="max-width: 500px;" 
      @click="currentlyOpened = i"
      )
      v-card-title.pl-6.pr-3.pb-0 
        .blue--text.font-weight-bold(:class="{'title': $vuetify.breakpoint.smAndUp, 'body-1': $vuetify.breakpoint.xsOnly}")
          | {{ item.name }}
        v-spacer
        v-icon(small) {{ item.type !== "birthday"? "mdi-calendar" : "mdi-party-popper" }}
      v-card-text.px-6
        div(:class="{'body-1': $vuetify.breakpoint.smAndUp, 'caption': $vuetify.breakpoint.xsOnly}")
          | {{ completionStatus(item) }} 
          | &ndash; 
          span(:class="{'red--text': ['Expires tomorrow', 'Expires today'].includes(expiryStatus(item))}") {{ expiryStatus(item) }}

      v-dialog(:value="currentlyOpened === i" fullscreen persistent transition="dialog-bottom-transition")
        Checklist(
          v-if="currentlyOpened === i"
          :list="item" 
          @close="currentlyOpened = null"
          @closeList="currentlyOpened = false"
          )


</template>

<script>
import { mapState } from "vuex"
import {duration} from "../services"

import Checklist from "../components/Checklist"

export default {
  components: {
    Checklist
  },
  data() {
    return {
      currentlyOpened: null,
    }
  },
  created() {
    if (!this.checklists) this.$store.dispatch("checklists/fetchAll")
  },
  computed: {
    ...mapState({ 
      checklists: state => state.checklists.checklists,
      loading: state => state.checklists.loading
    })
  },
  methods: {
    completionStatus(list) {
      let total = list.contacts.length
      let done = list.contacts.filter(x => !!x.contacted).length
      if (done === 0) return total > 1 ? total + " people to contact" : "1 person to contact"
      else if (done === total) return "Done"
      else return `${done}/${total} contacted`
    },

    expiryStatus(list) {
      let d = duration("today", list.date)
      if (d === 7) return "Expires today"
      else if (d === 6) return "Expires tomorrow"
      else if (d >= 0 && d <= 5) return `Expires in ${7 - d} days`
      else return ""
    }
  }
}

</script>

<style scoped>
  .bg {
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  .svg-bg {
    background-image: url("../assets/Flat-Mountains.svg");
  }

  .gradient-bg {
    background-image: linear-gradient(to bottom left, #F29A92, #F1948C, #F29990, #F29B93);
  }
</style>