<template lang="pug">
  v-container.bg(fluid :class="{'gradient-bg': $vuetify.breakpoint.smAndUp, 'svg-bg': $vuetify.breakpoint.xsOnly}")
    .white--text.font-weight-bold.mb-7(:class="{'display-2': $vuetify.breakpoint.smAndUp, 'headline': $vuetify.breakpoint.xsOnly}") 
      | My contacts

    //- No contacts available yet
    div(v-if="contacts && !contacts.length && !loading")
      .mx-auto.mt-6.realwhite--text(
        :class="{'headline': $vuetify.breakpoint.smAndUp, 'body-1': $vuetify.breakpoint.xsOnly}"
        :style="$vuetify.breakpoint.xsOnly? 'width: 270px;': 'width: 380px;'"
        )
        | First time here? Use 
        router-link(:to="{name: 'HowItWorks'}")
          .font-weight-medium.blue--text.d-inline-block this guide
        |  to understand how to use this app or just add a contact.
      .new-contact.my-10(
        @click="firstAddContactDialogOpen = true" 
        :style="$vuetify.breakpoint.xsOnly? 'width: 270px;': 'width: 380px;'"
        )
        v-row(justify="center" align="center" style="height: inherit;")
          v-col
            .text-center
              v-icon.mb-2(x-large color="realwhite") mdi-plus
              .realwhite--text.body-1 Add contact
      v-dialog(v-model="firstAddContactDialogOpen" fullscreen persistent transition="dialog-bottom-transition") 
        ContactForm(type="add" @close="firstAddContactDialogOpen = false")

    //- User has contacts
    v-expansion-panels(v-if="contacts && contacts.length" style="max-width: 500px;")
      v-expansion-panel(v-for='(contact,i) in contacts' :key='i')
        v-expansion-panel-header.blue--text.font-weight-bold(:class="{'title': $vuetify.breakpoint.smAndUp}") 
          | {{ contact.name }}
        v-expansion-panel-content
          v-card(flat)
            v-card-text.px-0.pt-0
              div.mb-4(v-if="contact.note && contact.note.length")
                .caption Note
                | {{ contact.note }}
              .caption.mb-1 Contact for
              v-chip.mb-2.mr-2.grey--text(outlined v-for="occas in contact.occasions") 
                | {{ occas.name }}
            v-card-actions.pb-0
              v-spacer
              ConfirmationDialog(:name="contact.name" @deleteConfirmed="deleteContact(contact)")
              v-btn(icon color="grey" @click="currentlyEdited = i")
                v-icon mdi-pencil
              v-dialog(:value="currentlyEdited === i" fullscreen persistent transition="dialog-bottom-transition") 
                //- v-if as a hack to reload component everytime
                ContactForm(v-if="currentlyEdited === i" type="edit" :data="contact" @close="currentlyEdited = null")
              v-spacer

</template>

<script>
import { mapState, mapActions } from 'vuex'
import ConfirmationDialog from "../components/ConfirmationDialog"
import ContactForm from "../components/ContactForm"

export default {
  components: {
    ConfirmationDialog,
    ContactForm
  },
  data() {
    return {
      currentlyEdited: null,
      firstAddContactDialogOpen: false
    }
  },
  created() {
    if (!this.contacts) this.$store.dispatch("contacts/fetchAll")    
  },
  computed: {
    ...mapState({ 
      contacts: state => state.contacts.contacts,
      loading: state => state.contacts.loading
    })
  },
  methods: {
    ...mapActions({
      deleteContact: "contacts/deleteContact"
    })
  }
}
</script>

<style scoped>
  .bg {
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  .svg-bg {
    background-image: url("../assets/Flat-Mountains.svg");
  }

  .gradient-bg {
    background-image: linear-gradient(to bottom left, #F29A92, #F1948C, #F29990, #F29B93);
  }

  .new-contact {
    border-radius: 4px; 
    border: 1px solid white; 
    height: 175px;
    /* width: 270px; */
    margin: 0 auto;
    box-shadow: 0 1px 3px 0 rgba(89,98,115,.12);
    transition: box-shadow .3s ease,transform .3s ease,-webkit-transform .3s ease;
    cursor: pointer;
  }

  .new-contact:hover {
    box-shadow: 0 15px 30px 0 rgba(89,98,115,.15);
    transform: translate(0,-4px);
    border: 0;
  }
</style>