<template lang="pug">
  div
    v-container.bg(fluid)
      v-row.mx-0(justify="center" align="center" style="height: inherit;")
        v-col.text-center.pa-0(cols=10 sm=8 md=6 lg=5 xl=3)
          .blackish--text.font-weight-medium(
            :class="{'display-4 mb-6': $vuetify.breakpoint.smAndUp, 'display-3 mb-3': $vuetify.breakpoint.xsOnly}") 
            | Socialis
          .blackish--text.font-weight-medium(
            :class="{'display-2': $vuetify.breakpoint.smAndUp, 'headline': $vuetify.breakpoint.xsOnly}")
            | Nurture your social network effortlessly.
          v-btn.my-12(
            :large="$vuetify.breakpoint.xsOnly"
            :x-large="!$vuetify.breakpoint.xsOnly"
            :min-width="$vuetify.breakpoint.xsOnly? 230 : 420"
            dark color="purple" :to="{name: 'Login'}") Sign up for free
    //- .mx-auto.blackish--text.my-6.display-1(style="width: fit-content;") How it works
    //- Guide.mb-12
</template>

<script>
// import Guide from "../components/Guide"

export default {
  // components: { Guide }
}
</script>

<style scoped>
  .bg {
    height: 100vh;
    min-height: 450px;
    padding: 0;
    background-image: url("../assets/Radiant-Gradient.svg");
    background-size: cover; 
    background-repeat: repeat-x;
    background-position: left;
    animation: slide 40s linear infinite backwards;
    -webkit-animation: slide 40s linear infinite backwards; 
    -moz-animation: slide 40s linear infinite backwards;
  }

  @keyframes slide {
    50% { background-position: right; }
    100% { background-position: left; }
  }
  @-webkit-keyframes slide {
    50% { background-position: right; }
    100% { background-position: left; }
  }
  @-moz-keyframes slide {
    50% { background-position: right; }
    100% { background-position: left; }
  }
</style>