<template lang="pug">
div
  .mx-auto.blackish--text.my-6.display-1(style="width: fit-content;") How it works
  Guide.mb-6
</template>

<script>
import Guide from "../components/Guide"

export default {
  components: { Guide }
}
</script>