<template lang="pug">
  v-container.salmon-bg(fluid style="height: 100%; overflow: hidden;")
    v-row(justify="center" align="center" style="height: inherit;")
      v-col(cols=12 sm=9 md=6 lg=5 xl=4)
        v-card(elevation=0 color="transparent")
          v-card-title.white--text 
            transition(name="scroll-y-transition")
              .font-weight-medium(:class="{'display-3': $vuetify.breakpoint.smAndUp, 'display-2': $vuetify.breakpoint.xsOnly}")
                | {{ pageInfo.title }}
          v-card-text.white--text
            div(:class="{'title font-weight-regular': $vuetify.breakpoint.smAndUp, 'body-1': $vuetify.breakpoint.xsOnly}")
              | {{ pageInfo.swithTabText }} 
              router-link.font-weight-medium(:to="pageInfo.otherTabUrl" :style="'color: ' + $vuetify.theme.themes.light.blue + ';'") 
                | {{ pageInfo.swithTabBtn }}
            div(:class="{'title font-weight-regular': $vuetify.breakpoint.smAndUp, 'body-1': $vuetify.breakpoint.xsOnly}") 
              | If you have any issues logging in, 
              a.font-weight-medium(
                :style="'color: ' + $vuetify.theme.themes.light.blue + ';'" 
                href="https://koverdd.com/contact"
                target="_blank"
                ) click here
            .my-10
              v-btn.my-4(block large dark color="purple" @click="signin('google')") 
                v-icon.mr-3 mdi-google
                | Google
              v-btn.my-4(block large dark color="purple" @click="signin('facebook')") 
               v-icon.mr-3 mdi-facebook-box
               | Facebook
    //- .decoration
</template>

<script>
import {auth} from 'firebase';

export default {
  computed: {
    pageInfo() {
      let isSignup = this.$route.path === "/signup"
      return {
        isSignup: isSignup,
        title: isSignup? "Sign up" : "Log in",
        swithTabText: isSignup? "Have an account already? " : "No account yet? ",
        swithTabBtn: isSignup? "Log in" : "Sign up",
        otherTabUrl: isSignup? "login" : "signup"
      }
    }
  },
  methods: {
    signin(type) {
      const provider = type === "facebook"? new auth.FacebookAuthProvider() : new auth.GoogleAuthProvider()
      let firebasePromise = this.$vuetify.breakpoint.xsOnly? auth().signInWithRedirect(provider) : auth().signInWithPopup(provider)
      firebasePromise
        .then(() => {})
        .catch(err => {
          let msg
          if (err.message) msg = err.message
          else msg = "Error while logging in. Please try again"
          this.$store.dispatch("snackbar/popOut", { status: "error", msg: msg })
        })
    }
  }  
}
</script>

<style scoped>
  .salmon-bg {
    background-image: linear-gradient(to bottom left, #F29A92, #F1948C, #F29990, #F29B93);
  }

  .decoration {
    position: absolute;
    right: -12vh;
    top: 0;
    width: 180px;
    height: 105px;
    background-color: #45A8C2;
    border-radius: 52px;
    transform: rotate(-39deg);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  }
</style>