<template lang="pug">
  v-container.bg(fluid :class="{'gradient-bg': $vuetify.breakpoint.smAndUp, 'svg-bg': $vuetify.breakpoint.xsOnly}")
    .white--text.font-weight-bold.mb-7(:class="{'display-2': $vuetify.breakpoint.smAndUp, 'headline': $vuetify.breakpoint.xsOnly}") 
      | Occasions
      v-tooltip.mx-auto(color="rgba(0,0,0,0.85)" right :max-width="$vuetify.breakpoint.smAndUp? 400 : 300")
        template(v-slot:activator="{on}")
          v-icon.ml-3(v-on="on" :small="$vuetify.breakpoint.xsOnly" color="realwhite")
            | mdi-information-outline
        .realwhite--text(:class="{'subtitle-1': $vuetify.breakpoint.smAndUp, 'body-2': $vuetify.breakpoint.xsOnly}") 
          | Want to add other occasions? Good news! This feature will be available in our next release.

    v-card.mb-3(v-for='(item,i) in occasions' :key='i' style="max-width: 500px;")
      v-card-title.pl-6.pr-3.pb-0 
        .blue--text.font-weight-bold(:class="{'title': $vuetify.breakpoint.smAndUp, 'body-1': $vuetify.breakpoint.xsOnly}")
          | {{ item.name }}
      v-card-text.px-6
        div(:class="{'body-1': $vuetify.breakpoint.smAndUp, 'caption': $vuetify.breakpoint.xsOnly}")
          | {{ formatDate(item.date) }}

</template>

<script>
import { mapState } from 'vuex'
import { formatDate } from "../services"

export default {
  created() {
    if (!this.occasions) this.$store.dispatch("occasions/fetchAll")    
  },
  computed: {
    ...mapState({ occasions: state => state.occasions.occasions })
  },
  data() {
    return {}
  },
  methods: {
    formatDate
  }
}
</script>

<style scoped>
  .bg {
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  .svg-bg {
    background-image: url("../assets/Flat-Mountains.svg");
  }

  .gradient-bg {
    background-image: linear-gradient(to bottom left, #F29A92, #F1948C, #F29990, #F29B93);
  }
</style>