<template lang="pug">
  v-card.overflow-hidden(tile)
    v-card-title.px-4
      .font-weight-medium.blue--text {{ list.name }}
      .flex-grow-1
      v-btn(icon @click="$emit('close')")
        v-icon(large color="rgba(0,0,0,.35)") mdi-close
    v-card-text.px-0.overflow-y-auto(style="margin-bottom: 40px; -webkit-overflow-scrolling: touch;")
      v-overlay(:value="loading" absolute opacity=.1)
        v-progress-circular(indeterminate size="45" width="3" color="teal")
      v-list-item(v-for="(person, index) in list.contacts" :key="index" ripple color="blue" :input-value="person.contacted" @click="update(index)")
        v-checkbox(:input-value="person.contacted" color="blue" readonly :label="person.details.name")
    v-card-actions.px-4.custom
      v-spacer
      v-btn(text color="blue" block :x-large="$vuetify.breakpoint.smAndUp" @click="markAllDone()") 
        | mark all as contacted

</template>

<script>
export default {
  props: ["list"],
  data() {
    return {
      loading: false
    }
  },
  methods: {
    update(contactIndex) {
      this.loading = true
      let contactsCopy = [...this.list.contacts]
      contactsCopy[contactIndex].contacted = !contactsCopy[contactIndex].contacted 
      this.$store.dispatch("checklists/updateChecklist",{id: this.list.id, updates: {contacts: contactsCopy}})
      .then(() => { 
        if (contactsCopy.map(x => x.contacted).every(y => y === true)) this.$emit("closeList")
        this.loading = false 
      })
      .catch(() => {
        this.$store.dispatch("snackbar/popOut", { status: "error", msg: "Could not save changes. Please try again " })
      })
    },
    markAllDone() {
      let contactsCopy = [...this.list.contacts]
      contactsCopy.map(x => x.contacted = true)
      this.$store.dispatch("checklists/updateChecklist",{id: this.list.id, updates: {contacts: contactsCopy}})
      .then(() => { this.loading = false ; this.$emit("closeList") })
      .catch(() => {
        this.$store.dispatch("snackbar/popOut", { status: "error", msg: "Could not save all changes. Please try again " })
      })
    }

  }
}
</script>

<style scoped>
 .custom {
   position: fixed;
   bottom: 0;
   width: 100%;
   background-color: white;
   border-top: 1px solid lightgray;
 }
</style>