<template lang="pug">
div
  v-btn(icon color="grey" @click="isOpen= true")
    v-icon mdi-delete
  v-dialog(max-width=400 v-model="isOpen")
    v-card
      v-card-text.py-3(:class="{'font-weight-regular title': $vuetify.breakpoint.smAndUp, 'body-1': $vuetify.breakpoint.xsOnly}") 
        | Are you sure you want to delete {{ name }} ?
      v-card-actions
        v-spacer
        v-btn(text @click="isOpen = false") cancel
        v-btn(dark text color="error" @click="$emit('deleteConfirmed') ; isOpen = false") delete
</template>

<script>
export default {
  props: ["name"],
  data() {
    return {
      isOpen: false
    }
  }
}
</script>