<template lang="pug">
  v-card.overflow-hidden(tile)
    v-card-title.px-4
      .font-weight-medium.blue--text {{ name && name.length? name : "New Contact" }}
      .flex-grow-1
      v-btn(icon @click="resetAndClose()")
        v-icon(large color="rgba(0,0,0,.35)") mdi-close
    v-card-text.px-0.overflow-y-auto(style="-webkit-overflow-scrolling: touch;")
      v-form(ref="contactForm")
        v-container(fluid)
          v-row(justify="center")
            v-col(cols=12 sm=8 md=7 lg=5)
              v-text-field(v-model="name" label="Name" outlined color="blue" :rules="[rules.required]")
              v-select(label="When to contact" multiple :items="occasionsWithBirthday" item-text="name" return-object v-model="selectedOccasions" outlined item-color="blue" :rules="[rules.nonEmpty]")
              v-expand-transition
                v-row.px-3(v-if="showBirthday")
                  v-col.pa-0(cols=12)
                    .caption Birthday
                  v-col.pl-0.pr-1(cols=4)
                    v-select(label="Month" :items="months" outlined color="blue" v-model="birthMonth" :rules="[rules.required]")
                  v-col.px-0(cols=4)
                    v-select(label="Day" :items="days" outlined color="blue" v-model="birthDay" :rules="[rules.required]")
                  v-col.pr-0.pl-1(cols=4)
                    v-select(label="Year" :items="years" outlined color="blue" v-model="birthYear" :rules="[rules.required]")
              v-textarea(v-model="note" label="Note (optional)" outlined color="blue" no-resize auto-grow rows=2 clearable)

    v-card-actions.custom
      v-btn(text block color="blue" :loading="saveBtnLoading" :x-large="$vuetify.breakpoint.smAndUp" @click="save()") 
        | {{ type === "add"? "create" : "save" }}
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { twoDigitNumber } from '../services'

export default {
  props: ["type", "data"],
  data() {
    return {
      name: "",
      note: "",
      birthDay: null,
      birthMonth: null,
      birthYear: null,
      selectedOccasions: [],

      rules: {
        required: val => !!val || "This field is required",
        nonEmpty: selected => !!selected.length || "Please choose at least one occasion"
      },
      months: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
      years: [...Array(110).keys()].map(x=> 2019 - x),
      saveBtnLoading: false
    }
  },
  created() {
    if (!this.occasions) this.$store.dispatch("occasions/fetchAll")
    if (this.type === "edit") this.prefillForm()  
  },
  computed: {
    ...mapState({ occasions: state => state.occasions.occasions }),

    occasionsWithBirthday() {
      let list = [{id: "birthday", name: "Birthday"}] 
      if (this.occasions) list.push(...this.occasions)
      return list
    },
    
    showBirthday() {
      return this.selectedOccasions.findIndex(x => x.id === "birthday") > -1
    },

    days() {
      let n = 30
      if (this.birthMonth) {
        if(["Jan", "Mar", "May", "Jul", "Aug", "Oct", "Dec"].includes(this.birthMonth)) n = 31
        if(this.birthMonth === "Feb") n = 29
      }
      return [...Array(n).keys()].map(x => twoDigitNumber(x+1))
    }
  },
  watch: {
    birthMonth() {
      if (this.days.findIndex(x => x === this.birthDay) < 0) this.birthDay = null
    }
  },
  methods: {
    ...mapActions({
      addContact: "contacts/addContact",
      updateContact: "contacts/updateContact"
    }),

    save() {
      if (this.$refs.contactForm.validate()) {
        this.saveBtnLoading = true
        let verb = this.type === "edit"? "updated" : "created"
        let formattedObj = this.formatRequest(this.type)
        let promise
        if (this.type === "add") promise = this.addContact(formattedObj)
        if (this.type === "edit") promise = this.updateContact(formattedObj)
        
        promise.then(() => {
          this.saveBtnLoading = false
          this.$store.dispatch("snackbar/popOut", { status: "success", msg: "Contact successfully " + verb })
          this.resetAndClose()
        })
        .catch(() => {
          this.$store.dispatch("snackbar/popOut", { status: "error", msg: "Contact could not be " + verb })
        })
      }
    },
    resetAndClose() {
      this.$emit('close'); 
      this.$refs.contactForm.reset()
    },

    formatRequest(type) {
      let formattedObj = {
        name: this.name,
        occasions: [...this.selectedOccasions]
      }
      if (type === "add") formattedObj["createdOn"] = new Date()
      if (this.showBirthday) {
        let bdIndex = formattedObj.occasions.findIndex(x => x.id === "birthday")
        formattedObj.occasions[bdIndex]["date"] = [
          this.birthDay, 
          twoDigitNumber(this.months.findIndex(x => x === this.birthMonth)+1),
          this.birthYear
        ].join("-")
      }
      if (this.note && this.note.length) formattedObj["note"] = this.note
      
      if (type === "edit") formattedObj = {id: this.data.id, updates: formattedObj}
      
      return formattedObj
    },

    prefillForm() {
      if (this.data) {
        this.name = this.data.name
        this.selectedOccasions = this.data.occasions
        if (this.data.note) this.note = this.data.note
        if (this.showBirthday) {
          let bd = this.selectedOccasions.find(x => x.id === "birthday").date.split("-")
          this.birthMonth = this.months[parseInt(bd[1]) - 1]
          this.birthYear = parseInt(bd[2])
          this.birthDay = bd[0]
        }
      }
    }
  }
}
</script>

<style scoped>
 .custom {
   position: fixed;
   bottom: 0;
   width: 100%;
   background-color: white;
   border-top: 1px solid lightgray;
 }
</style>