<template lang="pug">
  v-bottom-navigation(
    :height="$vuetify.breakpoint.mdAndUp? 86 : undefined"
    app 
    background-color="#fff" 
    color="darksalmon" 
    )
    v-btn.px-0(v-for="btn in btns" :class="{'px-0': $vuetify.breakpoint.xsOnly}" :key="btn.label" :min-width="$vuetify.breakpoint.xsOnly? 64 : undefined" style="height: unset;" @click.stop="navAction(btn.label)")
      span(v-if="$vuetify.breakpoint.mdAndUp") {{ btn.label }}
      v-icon(:color="current(btn.label)" :large="btn.isLarge || $vuetify.breakpoint.mdAndUp") {{ btn.icon }}

    v-dialog(v-model="addMenuOpen" fullscreen persistent transition="dialog-bottom-transition") 
      ContactForm(type="add" @close="addMenuOpen = false")

    .text-center
      v-bottom-sheet(v-model='moreMenuOpen' inset max-width=500)
        v-sheet.pb-4.text-center(:tile="$vuetify.breakpoint.xsOnly")
          v-list(flat)
              v-list-item.pl-6(
                v-for="(item, index) in moreMenu" 
                :key="index"
                :href="item.isExternalLink? item.pathName : undefined"
                :target="item.isExternalLink? '_blank' : undefined"
                :to="item.isExternalLink? undefined : {name: item.pathName}"
                @click='moreMenuOpen = false'
                ) {{item.label}}
              v-list-item.pl-6(@click="logout()") Logout
          v-btn.mt-3(icon @click='moreMenuOpen = false') 
            v-icon mdi-close

</template>

<script>
import { auth } from 'firebase'
import ContactForm from "../components/ContactForm"

export default {
  components: {
    ContactForm
  },
  data() {
    return {
      moreMenuOpen: false,
      addMenuOpen: false,

      btns: [
        {label: "Checklists", icon: "mdi-format-list-checks", isLarge: false},
        {label: "Contacts", icon: "mdi-account-box-outline", isLarge: false},
        {label: "Add", icon: "mdi-plus", isLarge: true},
        {label: "Occasions", icon: "mdi-calendar-month", isLarge: false},
        {label: "More", icon: "mdi-dots-vertical", isLarge: false}
      ],
      moreMenu: [
        // { label: "About Us", isExternalLink: false, pathName: 'About' },
        { label: "Contact Us", isExternalLink: true, pathName: 'https://koverdd.com/contact' },
        { label: "How it works", isExternalLink: false, pathName: 'HowItWorks' },
        { label: "Privacy policy", isExternalLink: false, pathName: 'PrivacyPolicy' },
      ]
    }
  },
  methods: {
    current(label) {
      return this.$route.name === label? "darksalmon" : undefined
    },

    navAction(label) {
      if (label === "More") this.moreMenuOpen = true
      if (label === "Contacts") this.$router.push({name: "Contacts"}, () => {})
      if (label === "Occasions") this.$router.push({name: "Occasions"}, () => {})
      if (label === "Checklists") this.$router.push({name: "Checklists"}, () => {})
      if (label === "Add") this.addMenuOpen = true
    },

    logout() {
      auth().signOut().then(() => {
        this.$router.push('/login')
        this.moreMenuOpen = false 
      })
    }
  }
}
</script>