<template lang="pug">
  v-speed-dial(
    v-model="isOpen" 
    fixed 
    bottom 
    right 
    :open-on-hover="$vuetify.breakpoint.mdAndUp || isOpen"
    direction="left"
    transition="slide-x-reverse-transition"
    )
    template(v-slot:activator)
      v-btn(v-model="isOpen" :color="color" dark fab)
        v-icon(v-if="isOpen") mdi-close
        v-icon(v-else) mdi-menu
    v-btn(fab dark small :color="color" :to="{name: 'HowItWorks'}")
      v-icon mdi-help
    v-btn(fab dark small :color="color" to="/login")
      v-icon mdi-login-variant
    v-btn(fab dark small :color="color" :to="{name: 'Home'}")
      v-icon mdi-home
</template>

<script>
export default {
  data() {
    return {
      isOpen: false,
      color: "purple"
    }
  }
}
</script>