<template lang="pug">
  //- v-snackbar(color="rgba(33, 47, 61,.9)" top right :timeout="0" :value="true")
    v-icon.mr-2(color="teal") mdi-check-circle
    span.font-weight-bold.subtitle-1.text-left(v-text="'snackbarMsg'")
  v-snackbar(:color="snackbarColor" top right :timeout="0" :value="show")
    v-icon.mr-2(dark) {{ iconLabel }}
    span.font-weight-bold.subtitle-1.text-left(v-text="params.msg")
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState({ 
      show: state => state.snackbar.show,
      params: state => state.snackbar.params 
    }),
    iconLabel() {
      if (this.params.status === "success") return "mdi-check-circle"
      else return "mdi-close-circle"
    },
    snackbarColor() {
      if (this.params.status === "success") return "teal"
      else return "red"
    },
  }
}
</script>