<template lang="pug">
  v-app
    loader(v-if="showLoading")
    v-content
      router-view
    navbar(v-if="isLoggedIn")
    QuickActionMenu(v-if="!isLoggedIn")
    Snackbar
</template>

<script>
import { mapGetters, mapState } from 'vuex'

import Navbar from './components/Navbar'
import QuickActionMenu from './components/QuickActionMenu'
import Loader from './components/Loader'
import Snackbar from './components/Snackbar'

export default {
  name: 'App',
  components: {
    Navbar,
    QuickActionMenu,
    Loader,
    Snackbar
  },
  data: () => ({
    //
  }),
  computed: {
    ...mapGetters({
      isLoggedIn: "user/isLoggedIn",
    }),

    ...mapState({
      occasionsLoading: state => state.occasions.loading,
      contactsLoading: state => state.contacts.loading,
      checklistsLoading: state => state.checklists.loading
    }),

    showLoading() {
      return this.occasionsLoading || this.contactsLoading || this.checklistsLoading
    }
  }
};
</script>
